.bookingMovie {
    width: 100%;
    height: 100%;
    background-image: url('./img/One-Piece-Film-Red-1024x576.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;

    .overLay {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(59, 55, 55);
        z-index: 9;
        opacity: 0.9;
    }

    .screen {
        background-image: url('./img/bg-screen.png');
        width: 100%;
        height: 45px;
        margin: 20px auto 40px;
        background-size: 100% auto;
        filter: drop-shadow(4px 25px 20px rgba(194, 190, 190, 0.5));
        box-shadow: 0px 34px 51px -8px rgb(117, 105, 105);

    }

    .hangGheStyle {
        color: white;
        margin-top: 1px;
    }

    .hangGheStyle div:first-of-type div {
        margin-left: 7px;
        font-weight: bold;
    }



    .rowNumber {
        font-size: 20px;
        width: 45px;
        height: 35px;
        background: none;
        border: none;
        margin-bottom: 1%;
        font-size: 15px;
        color: yellow;
        margin-left: 8px;
    }

    .firstChar {
        color: yellow;
        font-size: 35px;
        margin-right: 15px;
    }

    .ghe {
        border: 3px solid red;
        width: 45px;
        height: 35px;
        font-size: 15px;
        border-radius: 5px;
        text-align: center;
        padding: 2px !important;
        margin: 5px;
        transition: all .5s;

        &:hover {
            transform: translateY(-10px);

        }

        &:focus {
            outline: none;
        }
    }

    .selecting_seats {
        background: rgb(109, 238, 109);
        border: 3px solid rgb(109, 238, 109);
        color: #000;
        cursor: pointer;
        border-radius: 5px;
        width: 45px;
        height: 35px;
        border: 3px solid transparent;

        &:focus {
            outline: none;
        }
    }

    .booked_seats {
        border: 3px solid red;
        background: red;
        color: #000;
        cursor: no-drop;
        border-radius: 5px;
        width: 45px;
        height: 35px;

        &:focus {
            outline: none;
        }
    }

}






.noteSpan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.note__ghe {
    border: 3px solid red;
    width: 45px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 2px !important;
    margin: 5px;
    transition: all .5s;
}

.note__booked {
    border: 3px solid red;
    width: 45px;
    height: 35px;
    background: red;
    color: #000;
    margin-left: -15px;
    cursor: no-drop;
    border-radius: 5px;
}

.note__selecting {
    border: 3px solid rgb(109, 238, 109);
    background: rgb(109, 238, 109);
    width: 45px;
    height: 35px;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid transparent;
}