@import './variable';
@import './mixin';

.my-btn {
    font-size: $fs-1;
    box-shadow: 0 0 0 4.8rem $theme-1 inset;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: $pd-1 $pd-3;
    border-radius: 2rem;
    transition: all 0.3s linear;

    &:hover {
        color: $theme-3;
        background-color: white;
        box-shadow: 0 0 0 1px $theme-3 inset;
    }

    @include mediaQuery($sm) {
        font-size: $fs-9 ;
    }

    @include mediaQuery($xs) {
        font-size: $fs-10 ;
    }
}

.base-seat {
    background-color: $standard;
    font-size: $fs-1;
    border: solid 2px rgba(0, 0, 0, 0.105);
    border-radius: 20px 20px 5px 5px;
    width: 3em;
    height: 2em;
    padding: .3em;
    margin: .4em;
    text-align: center;
    transition: all 0.5s ease-in-out;

    @include mediaQuery($md) {
        font-size: .7rem;
    }

    @include mediaQuery($sm) {
        font-size: .6rem;
    }

    @include mediaQuery($xs) {
        font-size: .5rem;
    }
}