// color
$pink: #aa017e;
$pink-1: #b61984;
$pink-2: #dcd1f0;
$black: #000;
$black-1: rgba(0, 0, 0, 0.8);
$black-2: rgba(0, 0, 0, 0.2);
$light: #fff;
$light-1: rgba(255, 255, 255, 0.6);
$light-2: rgba(255, 255, 255, 0.4);

// padding

$pd-1: 0.4rem;
$pd-2: 0.8rem;
$pd-3: 1.2rem;
$pd-4: 1.6rem;
$pd-5: 2rem;
$pd-6: 3rem;
$pd-7: 4rem;
$pd-8: 5rem;
$pd-9: 6rem;
$pd-10: 8rem;

// margin

$m-0: 0rem;
$m-1: 0.4rem;
$m-2: 0.8rem;
$m-3: 1.2rem;
$m-4: 1.6rem;
$m-5: 2rem;
$m-6: 2.4rem;
$m-7: 2.8rem;
$m-8: 3.2rem;
$m-9: 4rem;
$m-10: 6rem;

// font size

$fs-0: initial;
$fs-1: 1.3rem;
$fs-2: 1.4rem;
$fs-3: 1.5rem;
$fs-4: 1.6rem;
$fs-5: 1.8rem;
$fs-6: 2.4rem;
$fs-7: 4rem;
$fs-xs-7 : 4.8rem;
$fs-8: 6rem;

// font weight

$fw-0: initial;
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;
$fw-5: 800;

// line height

$lh-0: initial;
$lh-1: 1rem;
$lh-2: 2rem;
$lh-3: 3rem;
$lh-4: 3.2rem;
$lh-5: 4rem;

// border-radius

$br-1: 0.5rem;
$br-2: 1rem;
$br-3: 1.4rem;
$br-4: 2rem;
$br-5: 3rem;

// media query

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

//transit
$transit-1: all 300ms ease;

//anime
$aniName-1: fadeIn;
$delay-1: .5s;
$delay-2: 1s;
$delay-3: 1.5s;
$delay-4: 2s;