@import '../../styles/variable';
@import '../../styles/mixin';

.seat {
    background-color: pink;
    border: solid 2px rgba(0, 0, 0, 0.105);
    border-radius: 20px 20px 5px 5px;
    width: 3em;
    height: 2em;
    padding: .3em;
    margin: .4em;
    text-align: center;

    &:focus {
        outline: 0;
    }

    &.Vip {
        background-color: violet;
    }

    &.selecting {
        background-color: rgba(78, 156, 78, 0.655);
    }

    &.daDat {
        background-color: red;
        cursor: no-drop;
    }
}