@import '../../styles/mixin';
@import '../../styles/variables';


.ghe {
  width: 35px;
  height: 35px;
  background: #ccc;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  transition: all .3s;

  &:hover {
    background: rgb(220, 115, 92);
    transform: translateY(-4px);
  }


  &.gheVip {
    background-color: $pink;
  }

  &.dangDat {
    background-color: yellowgreen;
  }

  &.daDat {
    background-color: gray;
    cursor: no-drop;

    &.hover {
      transform: none !important;
    }
  }

}