@import '../../styles/variable';
@import '../../styles/mixin';

.footer {
    .brand__footer {
        @include img(50px, 50px);
    }

    .footer_title {
        @include textGradient($fs-3);

        @include mediaQuery($md) {
            font-size: $fs-2;
        }

        @include mediaQuery($sm) {
            font-size: $fs-1;
        }

        @include mediaQuery($xs) {
            font-size: $fs-9;
        }
    }
}

.line {
    background-color: rgba(114, 89, 197, 0.1333333333);
    width: 100%;
    height: 2px;
    // margin-bottom: 2em;
}

.copy-right {
    background-color: rgba(114, 89, 197, 0.1333333333);

    p {
        font-size: 14px;
    }
}
